<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <h1>Login</h1>

                <div>
                    <!-- <%#= f.label :email %><br /> -->
                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", required: "required", type: "email" %>
                </div>

                <div>
                    <!-- <%#= f.label :password %><br /> -->
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                    </div>
                <% end -%>

                <div style="height: 40px">
                    <%= f.submit "Log in", class: "btn btn-primary", style: "margin-left: 0px; width: 100%" %>
                </div>
                <br/>

                <div class="separator">
                    <%= render "users/shared/links" %>
                </div>
                
            <% end %>
        </section>
    </div>
</div>

