<p id="notice"><%= notice %></p>

<% @page_title = "Device" %>

<div class="right_col" role="main">
    <div class="">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3> Device <%=@device.id %> </h3>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>
                    <div class="x_content">
                    
                    	<div class="col-md-2 col-sm-3 col-xs-12">
                    		<h4>Device Name  </h4>
                    	</div>
                    	<div class="col-md-10 col-sm-9 col-xs-12">
							<h4> : <%= @device.name %></h4>
                    	</div>
                    
                    	<div class="col-md-2 col-sm-3 col-xs-12">
                    		<h4>Device ID  </h4>
                    	</div>
                    	<div class="col-md-10 col-sm-9 col-xs-12">
							<h4> : <%= @device.device_id %></h4>
                    	</div>
                    
                    	<div class="col-md-2 col-sm-3 col-xs-12">
                    		<h4>Device Model  </h4>
                    	</div>
                    	<div class="col-md-10 col-sm-9 col-xs-12">
							<h4> : <%= @device.model %></h4>
                    	</div>
                    
                    	<div class="col-md-2 col-sm-3 col-xs-12">
                    		<h4>Device Place  </h4>
                    	</div>
                    	<div class="col-md-10 col-sm-9 col-xs-12">
							<h4> : <%= @device.place %></h4>
                    	</div>
                    

                    	<div class="col-md-2 col-sm-3 col-xs-12">
                    		<h4> Status </h4>
                    	</div>
                    	<div class="col-md-10 col-sm-9 col-xs-12">
							<h4> : <%= @device.status %></h4>
                    	</div>

                    	<div class="col-md-2 col-sm-3 col-xs-12">
                    		<h4> Latitude </h4>
                    	</div>
                    	<div class="col-md-10 col-sm-9 col-xs-12">
							<h4> : <%= @device.latitude %></h4>
                    	</div>

                    	<div class="col-md-2 col-sm-3 col-xs-12">
                    		<h4> Longitude </h4>
                    	</div>
                    	<div class="col-md-10 col-sm-9 col-xs-12">
							<h4> : <%= @device.longitude %></h4>
                    	</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
