<tr>
	<td><%= @devices_list[item].id %></td>
	<td><%= @devices_list[item].name %></td>
	<td><%= @devices_list[item].model %></td>
	<td><%= @devices_list[item].device_id %></td>
	<td><%= @devices_list[item].place %></td>
	<td>
		<input type="checkbox" class="device-select-unselect" value="Device"></input>
	</td>
</tr>