<tr>
	<td><%= @devices_list[item].id %></td>
	<td><%= @devices_list[item].name %></td>
	<td><%= @devices_list[item].model %></td>
	<td><%= @devices_list[item].device_id %></td>
	<td><%= @devices_list[item].place %></td>
	<td><%= check_box_tag "device_ids[]", @devices_list[item].id, @devices_list[item].users.exists?(@observer.id)%></td>
	
</tr>