<tr>
	<td><%= @devices_list[item].id %></td>
	<td><%= @devices_list[item].name %></td>
	<td><%= @devices_list[item].model %></td>
	<td><%= @devices_list[item].device_id %></td>
	<td><%= @devices_list[item].place %></td>

	<% if UserDevice.includes(:user).find(@devices_list[item].id).user == @observer %>
		<td><%= check_box_tag "device_ids[]", @devices_list[item].id, {:checked => "checked"} %></td>
	<% else %>
		<td><%= check_box_tag "device_ids[]", @devices_list[item].id %></td>
	<% end %>
</tr>